<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.funtouch"
    android:versionCode="1"
    android:versionName="1.0" 
    android:launchMode="singleTask">
    

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="21" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.NFC"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
	<uses-permission android:name="android.permission.WRITE_CONTACTS"/>
    

    <application
        
        android:name="com.funtouch.Cookie"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"    
        android:theme="@style/AppTheme" 
        >
        
        <activity
            android:name=".Splash"
            android:label="Fun Of Touching" 
            android:screenOrientation="portrait" 
			android:theme="@android:style/Theme.NoTitleBar.Fullscreen" 
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".firstDisplayActivity"
            android:label="向导"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" 
            android:screenOrientation="portrait"  
            android:launchMode="singleTask"></activity>
        <activity android:name=".Login"
            android:label="登录"
            android:theme="@style/TranslucentTheme"
            android:screenOrientation="portrait"  
            android:launchMode="singleTask"></activity>
        
         <activity android:name=".AboutActivity"
            android:label="关于活动"
            android:screenOrientation="portrait" 
            android:theme="@style/TranslucentTheme"  
            android:launchMode="singleTask"></activity>
         <activity android:name=".ActCenter"
            android:label="活动中心"
            android:theme="@style/TranslucentTheme" 
            android:screenOrientation="portrait"  
            android:launchMode="singleTask"></activity>
         <activity android:name=".ActDetails"
            android:label="活动详情"
            android:theme="@style/TranslucentTheme" 
            android:screenOrientation="portrait"  
            android:launchMode="singleTask"></activity>
          <activity android:name=".UpdateAct"
              android:theme="@style/TranslucentTheme" 
              android:screenOrientation="portrait"  android:launchMode="singleTask"
            android:label="修改信息活动"></activity>
          <activity android:name=".ActVali"
              android:theme="@style/TranslucentTheme" 
              android:screenOrientation="portrait"  android:launchMode="singleTask"
            android:label="激活验证功能"></activity>
          <activity android:name=".ValiUser"
              android:theme="@style/TranslucentTheme" 
              android:screenOrientation="portrait"  android:launchMode="singleTask"
            android:label="验证用户"></activity>
          <activity android:name=".RelCode"
              android:theme="@style/TranslucentTheme" 
              android:screenOrientation="portrait"  android:launchMode="singleTask"
            android:label="已发放验证码"></activity>
          <activity android:name=".MyCode"
             android:launchMode="singleTask"
             android:theme="@style/TranslucentTheme" 
             android:screenOrientation="portrait"  
            android:label="查看我的验证码"></activity>
          <activity android:name=".CodeBeam"
              android:theme="@style/TranslucentTheme" 
              android:screenOrientation="portrait"  android:launchMode="singleTask"
            android:label="验证模式"></activity>
          <activity android:name=".TransportContact"
              android:theme="@style/TranslucentTheme" 
              android:screenOrientation="portrait"  android:launchMode="singleTask"
            android:label="推送联系人"></activity>
          <activity android:name=".SeeActivity"
              android:theme="@style/TranslucentTheme" 
              android:screenOrientation="portrait"  android:launchMode="singleTask"
            android:label="查看活动"></activity>
          <activity android:name=".GetAward"
              android:screenOrientation="portrait"  android:launchMode="singleTask"
            android:label="领奖"></activity>
          <activity android:name=".ValidatePassActivity"
              android:screenOrientation="portrait"  android:launchMode="singleTask"
            android:label="验证通过"></activity>
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait" 
            android:theme="@style/TranslucentTheme" 
            android:label="主菜单"
            android:launchMode="singleTask"></activity>	
        <activity android:name=".ChangePass"
            android:theme="@style/TranslucentTheme" 
            android:screenOrientation="portrait"  android:launchMode="singleTask"
            android:label="修改密码"></activity>	
         <activity android:name=".UpdateInfo"
             android:theme="@style/TranslucentTheme" 
             android:screenOrientation="portrait"  android:launchMode="singleTask"
            android:label="个人信息修改"></activity>	
         <activity android:name=".MyVote"
             android:theme="@style/TranslucentTheme" 
             android:screenOrientation="portrait"  android:launchMode="singleTask"
            android:label="我的投票"></activity>	
         <activity android:name=".MySignUp"
                android:theme="@style/TranslucentTheme" 
                android:screenOrientation="portrait"  
            android:label="我的报名"
            android:launchMode="singleTask"></activity>																																																																							
        <activity android:name=".ActMenu"
            android:theme="@style/TranslucentTheme" 
            android:screenOrientation="portrait"  android:launchMode="singleTask"
            android:label="活动菜单"></activity>
        <activity android:name=".UserCenter"
            android:theme="@style/TranslucentTheme" 
            android:screenOrientation="portrait"  
            android:label="用户中心"
            android:launchMode="singleTask"></activity>
        <activity android:name=".SeeVote"
            android:theme="@style/TranslucentTheme" 
            android:screenOrientation="portrait"  android:launchMode="singleTask"
            android:label="查看投票"></activity>
        <activity android:name=".CreateActivity"
            android:theme="@style/TranslucentTheme" 
            android:screenOrientation="portrait"  android:launchMode="singleTask"
            android:label="创建活动"></activity>
        <activity android:name=".RegistInfo"
            android:theme="@style/TranslucentTheme" 
            android:screenOrientation="portrait"  android:launchMode="singleTask"
            android:label="注册"></activity>
        <activity android:name=".RegistActName"
            android:theme="@style/TranslucentTheme" 
            android:screenOrientation="portrait"  android:launchMode="singleTask"
            android:label="活动信息"></activity>
        
        <activity android:name=".VoteClickAdd"
            android:theme="@style/TranslucentTheme" 
            android:screenOrientation="portrait"  android:launchMode="singleTask"
            android:label="发起投票"></activity>
        <activity android:name=".VoteEdit"
            android:theme="@style/TranslucentTheme" 
            android:screenOrientation="portrait"  android:launchMode="singleTask"
            android:label="投票"></activity>
        <activity android:name=".VoteOL"
            android:theme="@style/TranslucentTheme" 
            android:screenOrientation="portrait"  android:launchMode="singleTask"
            android:label="在线投票"></activity>
        <activity android:name=".VoteOLDetail"
            android:theme="@style/TranslucentTheme" 
            android:screenOrientation="portrait"  android:launchMode="singleTask"
            android:label="选择投票队伍"></activity>
        <activity android:name="com.funtouch.VoteBeam"
            android:theme="@style/TranslucentTheme" 
            android:screenOrientation="portrait"  android:launchMode="singleTask"
            android:label="投票界面">
        </activity>
        <activity android:name=".RevVoteBeam"
            android:theme="@style/TranslucentTheme" 
            android:screenOrientation="portrait"  
            android:launchMode="singleTask"
            android:label="接触投票">

        </activity>
        <activity android:name=".VoteUse"
            android:theme="@style/TranslucentTheme" 
            android:screenOrientation="portrait"  android:launchMode="singleTask"
            android:label="使用"></activity>
        
        <activity android:name=".SignUpClickAdd"
            android:theme="@style/TranslucentTheme" 
            android:screenOrientation="portrait"  android:launchMode="singleTask"
            android:label="发起报名"></activity>
        <activity android:name=".SignUpEdit"
            android:theme="@style/TranslucentTheme" 
            android:screenOrientation="portrait"  android:launchMode="singleTask"
            android:label="发起报名"></activity>
        <activity android:name=".EnrollList"
            android:theme="@style/TranslucentTheme" 
            android:screenOrientation="portrait"  
            android:label="报名列表"
            android:launchMode="singleTask"></activity>
        <activity android:name=".EnrollListDetails"
            android:theme="@style/TranslucentTheme" 
            android:screenOrientation="portrait"  android:launchMode="singleTask"
            android:label="报名信息"></activity>
        <activity android:name=".SignUpUse"
            android:theme="@style/TranslucentTheme" 
            android:screenOrientation="portrait"  android:launchMode="singleTask"
            android:label="使用"></activity>
        <activity android:name=".SignUpBeam"
            android:theme="@style/TranslucentTheme" 
            android:screenOrientation="portrait"  android:launchMode="singleTask"
            android:label="接触报名">
            
        </activity>
        <activity android:name=".SignUpOL"
            android:theme="@style/TranslucentTheme" 
            android:screenOrientation="portrait"  android:launchMode="singleTask"
            android:label="在线报名"></activity>
        <activity android:name=".SignUpOLDetail"
            android:theme="@style/TranslucentTheme" 
            android:screenOrientation="portrait"  android:launchMode="singleTask"
            android:label="报名详情"></activity>
		<activity android:name=".FlyerList"
		    android:screenOrientation="portrait"  android:launchMode="singleTask"
            android:label="无纸传单"></activity>
		<activity android:name=".FlyerNew"
		    android:screenOrientation="portrait"  android:launchMode="singleTask"
            android:label="新建传单"></activity>
		<activity android:name=".FlyerNewSelectStyle"
		    android:screenOrientation="portrait"  android:launchMode="singleTask"
            android:label="选择版式"></activity>

		<activity android:name=".FlyerUse"
		    android:screenOrientation="portrait"  android:launchMode="singleTask"
            android:label="启用"></activity>
		<activity android:name=".FlyerSee"
            android:label="预览"></activity>
		
		<activity android:name=".ActAuthenticate"
		    android:theme="@style/TranslucentTheme" 
		    android:screenOrientation="portrait"  android:launchMode="singleTask"
            android:label="验证功能"></activity>
		
		<activity android:name=".GameList"
		    android:theme="@style/TranslucentTheme" 
		    android:screenOrientation="portrait"  android:launchMode="singleTask"
            android:label="游戏"></activity>
		<activity android:name=".CampusLife"
		    android:screenOrientation="portrait"  android:launchMode="singleTask"
            android:label="校园生活"
            android:theme="@style/TranslucentTheme" ></activity>
		<activity android:name=".GameUndercoverSetting"
		    android:screenOrientation="portrait"  android:launchMode="singleTask"
            android:label="设置"></activity>
		<activity android:name=".GameUndercoverDetail"
            android:label="已分配的角色"></activity>
		<activity android:name=".GameUndercoverGetRole"
            android:label="获得角色"></activity>
		
		<activity android:name=".GameWerewolfSetting"
            android:label="设置"></activity>
		<activity android:name=".GameWerewolfDetail"
            android:label="已分配的角色"></activity>
		<activity android:name=".GameWerewolfGetRole"
            android:label="获得角色"></activity>
		<activity android:name=".WhoIsTheSpy"
		    android:theme="@style/TranslucentTheme" 
              android:screenOrientation="portrait"  android:launchMode="singleTask"
            android:label="谁是卧底"></activity>
		<activity android:name=".SpyRoomBeam"
		    android:theme="@style/TranslucentTheme" 
              android:screenOrientation="portrait"  android:launchMode="singleTask"
            android:label="角色分配"></activity>
		<activity android:name=".SpySeeRole"
		    android:theme="@style/TranslucentTheme" 
              android:screenOrientation="portrait"  android:launchMode="singleTask"
            android:label="角色列表"></activity>
		<activity android:name=".SpyGetRoom"
		    android:theme="@style/TranslucentTheme" 
              android:screenOrientation="portrait"  android:launchMode="singleTask"
            android:label="获取角色"></activity>
		<activity android:name=".SocialFirstUse"
            android:label="欢迎"></activity>
		<activity android:name=".CardTransport"
		    android:theme="@style/TranslucentTheme" 
		    android:screenOrientation="portrait"  android:launchMode="singleTask"
            android:label="名片推送"></activity>
		<activity android:name=".CheckBill"
		    android:theme="@style/TranslucentTheme" 
		    android:screenOrientation="portrait"  android:launchMode="singleTask"
            android:label="查询电费"></activity>
		<activity android:name=".SocialCreateCardMenu"
		    android:theme="@style/TranslucentTheme" 
		    android:screenOrientation="portrait"  android:launchMode="singleTask"
            android:label="创建名片"></activity>
		<activity android:name=".SocialCreateCardEdit"
		    android:theme="@style/TranslucentTheme" 
		    android:screenOrientation="portrait"  android:launchMode="singleTask"
            android:label="编辑"></activity>
		<activity android:name=".SocialCreateCardImportContact"
		    android:theme="@style/TranslucentTheme" 
		    android:screenOrientation="portrait"  android:launchMode="singleTask"
           	android:label="导入联系人"></activity>
		<activity android:name=".SocialCardUse"
		    android:theme="@style/TranslucentTheme" 
		    android:screenOrientation="portrait"  android:launchMode="singleTask"
            android:label="运行中"></activity>
		
		<activity android:name=".FunTouchProfile"
		    android:theme="@style/TranslucentTheme" 
		    android:screenOrientation="portrait"  android:launchMode="singleTask"
            android:label="FunTouch简介"></activity>
		<activity android:name=".FunTouchAppIntroduction"
		    android:theme="@style/TranslucentTheme" 
		    android:screenOrientation="portrait"  android:launchMode="singleTask"
            android:label="nfc手机应用"></activity>
		<activity android:name=".FunTouchTag"
		    android:theme="@style/TranslucentTheme" 
		    android:screenOrientation="portrait"  android:launchMode="singleTask"
            android:label="NFC标签"></activity>
		<activity android:name=".FunTouchTagDetails"
		    android:theme="@style/TranslucentTheme" 
		    android:screenOrientation="portrait"  android:launchMode="singleTask"
            android:label="Wifi标签"></activity>
		<activity android:name=".FunTouchTagOther"
		    android:theme="@style/TranslucentTheme" 
		    android:screenOrientation="portrait"  android:launchMode="singleTask"
            android:label="定制"></activity>
		<activity android:name=".OrganDetailsActivity"
		    android:theme="@style/TranslucentTheme" 
		    android:screenOrientation="portrait"  android:launchMode="singleTask"
            android:label="组织信息"></activity>
          
		<activity
            android:name=".UsefulTag"
            android:theme="@style/TranslucentTheme"
            android:screenOrientation="portrait"  android:launchMode="singleTask"
            android:label="多彩标签" >
        </activity>
		
		<activity
            android:name=".NfcTagWriter"
            android:theme="@style/TranslucentTheme"
            android:screenOrientation="portrait"  android:launchMode="singleTask"
            
            android:label="Easy-Tag" >
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
		<activity
            android:name=".NfcWiFiAssistant"
            android:theme="@style/TranslucentTheme"
            android:screenOrientation="portrait"  android:launchMode="singleTask"
            android:label="Easy-WiFi" >
        </activity>
        <activity android:name=".WifiConnectConfigWriter"
            android:screenOrientation="portrait"  android:launchMode="singleTask"
            android:theme="@style/TranslucentTheme"  
            android:label="写入WiFi信息">
        </activity>
        <activity
            android:name=".WifiConnectHandler"
            android:launchMode="singleInstance" 
            android:screenOrientation="portrait"  
            android:theme="@style/TranslucentTheme" 
            android:label="连接WiFi">
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
    </application>
    
    

</manifest>

